body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    color: #007bff; /* Azul */
  }
  
  ul {
    list-style-type: disc;
    padding-left: 40px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .highlight {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Estilos para o gráfico de barras */
  .graph-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .bar-chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bar {
    width: 50px;
    background-color: #28a745; /* Cor verde */
    margin: 0 10px;
    border-radius: 4px 4px 0 0;
  }
  
  .bar-2022 {
    height: 70%; /* Altura da barra de 2022 */
  }
  
  .bar-2023 {
    height: 100%; /* Altura da barra de 2023 */
  }
  
  .bar span {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
  }



  




 
  .topic {
    margin-bottom: 30px;
  }

  .topic-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }

  .topic p {
    text-align: center;
  }